mixin subscribePrompt
  .section-padding.border-bottom
    .container
      .row: .col-md-8.col-md-offset-2
        .panel.panel-warning: .panel-body.text-center
          p.lead Get Top Offers In Your Area Delivered to Your Inbox

          .row: .col-sm-6.col-sm-offset-3: form.form(method="post", action="/subscribe")
            .form-group: .input-group
              input.form-control(type="text" size="50" name="email", placeholder="Enter your email address")
              span.input-group-btn
                button.btn.btn-warning(type="submit") Subscribe

          p.text-muted Plus our daily, hand-picked offers. We won't share your info. Opt out any time. 
            a(href="/privacy") Privacy Policy

mixin showOffer(offer)
  .col-sm-4
    .panel.panel-default.homepage-offer
      .panel-body.text-center
        h3.text-orange.no-margin-top #{format.currency(offer.value, 0)} Cash Back
        h4 #{offer.name}
        h5
          a(href="/store/#{offer.Partner.name}")
            if (offer.Partner.logo)
              img(src="#{offer.Partner.logo}" style="height:16px;")
              | &nbsp; #{offer.Partner.name}
            else
              | #{offer.Partner.name} 
        p #{offer.description}
        p #{format.currency(offer.value)}
        a.btn.btn-warning.btn-block.text-uppercase(href="#{config.dataApi.url}/offer/#{offer.id}") Claim Offer