mixin subscribePrompt
  .section-padding(style="background:#fafafa;")
    .container
      .row: .col-md-8.col-md-offset-2
        .panel.panel-warning: .panel-body.text-center
          p.lead Get top offers in your area delivered to your inbox

          .row: .col-sm-6.col-sm-offset-3: form.form(method="post", action="/subscribe")
            .form-group: .input-group
              input.form-control(type="text" size="50" name="email", placeholder="Enter your email address")
              span.input-group-btn
                button.btn.btn-warning(type="submit") Subscribe

          p.text-muted Plus occasional, hand-picked offers. We won't share your info. Opt out any time. 
            a(href="/privacy") Privacy Policy

mixin partnerBox(partner)
  a.text-center.partner-box(href="/partner/#{partner.slug}" title='#{partner.name}')
    .ghost-center
      if (partner.logo)
        div
          img.img-responsive.center-block(src="#{partner.logo}" style="max-height:120px;")
          | #{partner.name}
      else
        div #{partner.name}
mixin modalTemplate
  #offerModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='offerLabel')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4#offerLabel.modal-title
        .modal-body
          h5(id='partner')
          #claimDescription
        .modal-footer
          a#claim.btn.btn-warning.btn-block.btn-lg.text-uppercase.claim(href="#") Redeem Now
mixin showOffer(partner, offer)
  .col-sm-4
    .panel.panel-default.homepage-offer
      .panel-body.text-center
        h3.text-orange.no-margin-top #{format.currency(offer.value, 0)} Bonus
        hr(style="margin-top:16px")
        h4 #{offer.name}
        h5.partner-info: a(href="/partner/#{partner.slug}" title='#{partner.name}') #{partner.name}
        p.text-muted #{offer.description}
        .hidden.claim-descr #{offer.claimDescription}
        a.btn.btn-warning.btn-block.btn-lg.text-uppercase.claim-offer(href="/offer/#{offer.id}") Claim #{format.currency(offer.value, 0)} Offer
