

	

mixin showOffer(offer)
	.offer
		.headline
			p #{formatCurrency(offer.value, 'USD')}
			p.lead #{offer.name}
			p.merchant here will go offer.merchant
			.description #{offer.description}
			p #{formatCurrency(offer.value, 'USD')}
			button.btn.btn-warning(onclick="window.location=#{offer.url}") CLAIM OFFER

