extends /views/layout

block content
  +subscribePrompt

  .section-padding
    .container
      .row
        .col-md-3
          h3.no-margin-top Stores
          .row
            each merchant in offerData.merchants
              .col-xs-6
                a.text-center.merchant-sidebar(href="/store/#{merchant.slug}" title='#{merchant.name}')
                  if (merchant.logo)
                    img.img-responsive.center-block(src="#{merchant.logo}" style="max-height:120px;")
                    | #{merchant.name}
                  else
                    .ghost-center: p #{merchant.name}

        .col-md-9
          h3.no-margin-top.hidden-md.hidden-lg Offers
          .row
            each offer in offerData.offers 
             +showOffer(offer)